*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container {
  max-width: 640px;
  margin: 0 auto;

}

.dflex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.between{
  justify-content: space-between;
}

.center{
  justify-content: center;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.align-items{
  align-items: center;
}

:root{
  --purples:#9792E4;
  --blue-menu: #0084FD;
}

.btn{
  padding: 10px 15px;
  background-color: red;
  border-radius: 10px;
}

/* HEADER */

header .row{
  justify-content: space-between;
}

header .row .menu{
  display: none;
}




/* SECTIONS */

.sections{
  margin-top: 50px;
}
.section{
  padding: 30px 0;
}

 .purple{
  background-color: var(--purples);
}

.col{
  border: 1px solid black; /* delete */
  background-color: palevioletred;
  text-align: center;
  padding: 10px;
}

.col-intern{
  height: 100%;
  vertical-align: middle;
  background-color: white;
  border-radius: 10px;

}

.row{
  margin-bottom: 20px;
}

.row-white{
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  
}

.row-purple{
  background-color: var(--purples);
  border-radius: 15px;
  padding: 10px 5px;
  margin-bottom: 20px;
}

.row-purple :first-child{
  background-color: black;
  border-radius:100%;
  width: 70px;
  height: 70px;
}

.




/* RESPONSIVE */

@media screen and (min-width:769px){

  header .row .menu{
    display: block;
  }

  header .row .hamburguer{
    display: none;
  }
}





  


