*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container {
  max-width: 1140px;
  margin: 0 auto;

}

.debug{
  background-color: pink;
  border: 1px solid black;
  min-height: 50px;
}

:root{
  --purple:#9792E4;
  --bluemenu:#0084FD;
  --bluebox:#B5DDFF;
}

.row{
  display: flex;
}

.col{
  width: 100%;
}

.btn{
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

/* HEADER */

header .container{
  background-color: var(--bluemenu);
}


header .row{
  justify-content: space-between;
  height: 100%;
  align-items: center;
  vertical-align: middle;
  display: flex;
  padding: 10px 0;
}



header .row .menu{
  display: none;
}

.menu ul li{
  list-style: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin:10px;
}
.menu ul li a{
  text-decoration: none;
  color: white;
}

.hamburger .fa-bars{
  color: white;
  
}


/* SECTIONS */

/* INTRO */

.intro .row{
  flex-wrap: wrap;
}

 .col-intern{
  background-color: var(--bluebox);
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
}

.col-intern .row{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.row h1{
  color: var(--bluemenu);
  width: 20px;
  text-align: center;
  
}

.demo{
  
  width: 10%;
}

 .col .img-demo{
  
  width: 50%;
  
}

.img-demo img{
  width: 80px;
}


/* PLANNING */

.planning .col{
  padding: 20px;
}

.planning .col{
  display: flex;
  justify-content: center;
  
  
}



.planning .col img{
  width: 160px;
}

.planning .strategic-planing .col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.strategic-planning{
  max-width: 250px;
}

.col-white{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 250px;
}

.col-white img{
  width: 0px;
}


.planning, .benefits, .started{
  background-color: var(--purple);
}



.intro .col:first-child .row,
.planning .row,
.testimonials .row,
.benefits .row,
.about .row
{
  flex-direction: column;
}

.benefits .row{
  flex-wrap: wrap;
}






/* RESPONSIVE */

@media screen and (min-width:768px) {

  header .row .menu{
      display: block;
  }

  header .row .hamburger{
      display: none;
  }

  .intro .col{
      width: calc(100% / 3);
  }
  
  .intro .col:first-child{
    width: 66.6666%;
  }


  .planning .row,
  .benefits .row,
  .about .row,
  .testimonials .row{
      flex-direction: row;
  }

  .testimonials .row .col:first-child{
      width: 220px;
  }

  .benefits .col{
      width: 50%;
  }

  .about .col:last-child{
      width: 250px;
  }

}

@media screen and (min-width:992px){
  .intro .col:first-child .row{
      flex-direction: row;
  }
  .benefits .col{
      width: calc(100% / 3);
  }
}


  







  


